@import './reset.scss';

$mainColor : #ff0000;

// transition
.wow-enter {
    //애니메이션 시작할 때 적용할 css
    opacity: 0;
}
.wow-enter-active {
    //애니메이션 동작할 때 적용할 css
    opacity: 1;
    transition: all 500ms;
}

.red {
    color: $mainColor
}
@mixin test() {
    background: #eeeeee;
    padding: 10px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.my-alert {
    @include test();
}
.my-alert-yellow {
    @extend .my-alert;
    background: #ffe591;
}
.my-alert-red {
    @extend .my-alert;
    background: crimson;
}
.my-alert p{
    margin-bottom: 0;
}

div.container {
    h4 {
        color: blueviolet;
    }
    p {
        color: darkcyan;
    }
}